.icon-section {
    margin: 0 0 3em;
    clear: both;
    overflow: hidden;
}

.icon-container {
    width: 240px;
    padding: .7em 0;
    float: left;
    position: relative;
    text-align: left;
}

.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
    color: #000;
    position: absolute;
    margin-top: 3px;
    -webkit-transition: .3s;
    transition: .3s;
}

.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
    font-size: 2.2em;
    margin-top: -5px;
}

.icon-container:hover .icon-name {
    color: #000;
}

.icon-name {
    color: #aaa;
    margin-left: 35px;
    font-size: .8em;
    -webkit-transition: .3s;
    transition: .3s;
}

.icon-container:hover .icon-name {
    margin-left: 45px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.sidebar .nav > li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav > li.active-pro a {
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3) {
    text-align: center;
}

/* custom css */

.user_forms {max-width: 850px;padding: 0 15px;margin: 0 auto;}
.forgot {display: block;}
.login-signup .main-panel {width: calc(100%); float: none;}
.login-signup .card {padding: 15px}
.login-signup .card form [class*="col-"]:first-child {padding-left: 15px; padding-right: 15px;}
.login-signup .card form [class*="col-"]:last-child {padding-left: 15px; padding-right: 15px;}
.login-signup .main-panel .content {vertical-align: middle;padding: 10px 10px; min-height: calc(100% - 67px);padding-bottom: 0px;}
.login-signup h2 {font-size: 26px; margin-top: 15px;}

.card .header{padding: 0px;}
.card{padding: 15px;}

.card .no-footer{
    margin-top: 30px;
}

.card .content{padding: 0px;}

.logo img {max-width: 144px !important;}
.sidebar .logo, .off-canvas-sidebar .logo {padding: 4px 0px;}

.search .form-control {border: 1px solid #ccc; min-width: 260px; padding-left: 30px;}

.search .from-group {position: relative;}
.search .from-group .ti-search {position: absolute; left: 10px; top: 11px;}
.card{margin-bottom: 0px;}
.ckhbx{margin-bottom: 0px;}
.btn-login{border-radius: 5px !important;}
.clear {clear: both; line-height: 0; height:0; font-size: 0;}
.clear5 {clear: both; line-height: 5px; height:5px; font-size: 0;}
.clear10 {clear: both; line-height: 10px; height: 10px; font-size: 0;}
.clear20 {clear: both; line-height: 20px; height: 20px; font-size: 0;}
.clear40 {clear: both; line-height: 40px; height: 40px; font-size: 0;}
.clear80 {clear: both; line-height: 80px; height: 80px; font-size: 0;}
.margin-tb-20{margin-top: 20px;margin-bottom: 20px;}.margin-top-20{margin-top: 20px;}.margin-bottom-20{margin-bottom: 20px;}
.margin-tb-10{margin-top: 10px;margin-bottom: 10px;}.margin-top-10{margin-top: 10px;}.margin-bottom-10{margin-bottom: 10px;}

.btn-header {background-color: #666; color: #fff; padding: 2px 14px; font-size: 13px; display: inline-block;}
.btn-edit {display: inline-block; margin-top: -8px; margin-left: 10px;}

.action-drop {background-color: #666; color: #fff; padding: 2px 14px; font-size: 13px; color: #fff; display: inline-block; width:auto;}

.profile-detail h3 {margin: 0; font-size: 20px; font-weight: 600;}

.card .title {font-weight: 600;}

.card thead tr {background-color: #eee;}
.card td .btn-header {width: 100%; clear: both; margin: 2px 0; display:block;}
.card .control-label {margin-top: 10px;}

.btn-add-services {color: #fff; background-color: #666; padding: 4px 20px 4px 16px; margin-bottom: 10px; margin-top: 6px; display: inline-block;}
.btn-add-services:hover {color: #eee;}

.profile-detail {padding-left: 120px; position: relative;}
.profile-detail .company-logo {display: inline-block; max-width: 80px; position: absolute; left: 20px; top: 0;}

#jsTable_wrapper #jsTable_length {margin-left: 20px;}
.dataTables_filter {margin-right: 20px; margin-bottom: 10px;}

.dataTables_filter input, #jsTable_length select {
    border: 1px solid #ccc; 
    padding-left: 30px;
    background-color: #fffcf5;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    padding: 6px 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#jsTable_length select {padding: 6px 4px; margin-bottom: 10px;}

.dataTables_info {margin-left: 14px;}

.dataTables_paginate .paginate_button.current {border-radius: 4px; background-color: #eee; background-image: none !important; padding:4px 10px;}

.dataTable th {border-bottom: 0 !important; background-color: #666 !important; color: #fff !important; font-size: 15px !important; font-weight: 600 !important;}

.tbl-contained #jsTable_wrapper #jsTable_length {margin-left: 0px;}
.tbl-contained .dataTables_filter {margin-right: 0px;}

table.dataTable tfoot th, table.dataTable tfoot td {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
table.dataTable.no-footer {border-bottom: 1px solid #ccc;}

.top-shift {padding-top: 11px;}
.right-shift {margin-right: 10px;}

.actions {color: #999;}
.actions a {color: #333; margin: 0 4px; font-weight: 600;}

/*.content {clear: both; display: table; width: 100%; width: 100%;}*/

form {display: table; width: 100%; clear: both;}
form .form-group {margin-bottom: 0px;} 
.chosen-choices {
    border: 1px solid #CCC5B9 !important;
    background-color: #fffcf5 !important;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    padding: 5px 10px 7px 7px !important;
    height: 40px !important;
    box-shadow: none !important;
    display: block !important;
    width: 100% !important;
    background-image: none !important;
}

.child-box-wrap {
    border-radius: 4px;
    border: 1px solid #CCC5B9 !important;
    background-color: #fffcf5 !important;
    padding: 10px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.nwrapper {width:400px; display: inline-block; margin: 0 auto;}

.nid-wrap {
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-width: 400px;
    height: 200px;
    line-height: 200px;
    align-items:center;
    display: flex;
    text-align: center;
}

.nid-wrap img {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

#imgInp1, #imgInp2 {background-color:#eee; display:inline-block; width:auto;}

.sidebar-wrapper .nav li.active a{
    border-left : 5px solid #ed1c24;
}

.manadatory{
    color : #FF0000;
}

.top-up-form{
    border-radius: 4px;
    border: 1px solid #CCC5B9 !important;
    background-color: #fffcf5 !important;
    padding: 10px;
    display: table;    
    margin-bottom: 10px;
}
.btn-reg{border-radius: 5px !important;}
.subnav {list-style-type: none;display: none;}
.subnav li a {display: block;}
.show_ul{display: block !important;}
.query_links{position: relative;}
.query_links i.ti-angle-down,.query_links i.ti-angle-up {position: absolute;right: 20px;font-size: 10px;margin: 0;top: 10px;}
.subnav a {border: none !important;}

.dropdown-menu{
    padding: 10px;
    background: #fff;
    min-width: 200px;
}

.dropdown-menu > a{
    color: #666666;
    font-size: 13px;
    border-bottom: #f1efef solid 1px;
    display: block;
    margin: 0px;
    padding: 6px 0px;
}

.avtar-block{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.img-shadow{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
    padding: 8px;
}

.avtar-block img{
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.avtar-block .name-info{
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    width: auto;
}

.profile-listing{
    margin: 0;
    margin-top: 20px;
    margin-right: -0;
    margin-left: -0;
    padding: 0px;
    list-style: none;
    float: left;
    width: 100%;
}

.profile-listing li{
  width: calc(100% / 4);
    padding: 0px 10px 0px 0px;
    background: #fff;
    margin: 0;
    float: left;
    margin-bottom: 5px;
}

.profile-listing li img{
    width: 100%;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
}

.profile-edit-listing{
    width: 100%;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: 0;
}

.profile-edit-listing li{
    display: inline-block;
    width: 100%;
    width: calc(100% / 5 );
    padding: 0px 10px;
    vertical-align: bottom;
}

.profile-edit-listing li .form-control{
    margin-top: 10px;
    padding: 0px;
}

.workshop-content{
    padding: 0px 25px;
    min-height: calc(100% - 150px);
}

.work-service-block{
    display: inline-block;
    max-width: 600px;
}

.select-service-title{
    text-align: center;
    margin-bottom: 15px !important;
}

.dropdown-buttons:hover{
    background: #666666;
    color:white;
    border-radius:5px;
    text-align: center;
}
.register-form{
    margin-bottom: 50px; 
    margin-top: 50px;
}
.reg-logo{
    margin-top: -50px;
    margin-bottom: 50px;
}
/*Header Custom Styles*/
.notifications{
    overflow-y: scroll;
    max-height: 500px;
}
.notification_msg{
    font-size: 10px;
}
.notification_date{
    font-size: 10px;
}
.notification_links{
    clear: both;
    float: none;
    padding: 10px !important;
}
.notification_links:hover{
    background-color: #666666 !important;
}
.notification_links:hover .notification_msg,
.notification_links:hover .notification_date{
    color: #ffffff;
}
.notification_image {
    width: 50px;
    overflow: hidden;
    margin: 0;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.notification_image img{display: block;
height: 100%;width:50px;border-radius: 100%;margin: 0 auto !important;}
.notification_text {
    width: calc(100% - 60px);
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.notification_msg {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    padding-bottom: 5px;
}

.chosen-single{   
     
    padding: 7px 18px !important ;
    height: 40px !important;

}

.mistri-icons{
    font-size: 12px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
}
.block_button {
    background: none !important;
    border: none !important;
    display: inline-block;
}

.red{
    color: red !important;
}
.green{
    color: green !important;
}

.close2{
    position: relative;
    top: -10px;
    margin: 0px;
}

form#bookings-dropdown .submit_button{
    color: #666666;
    font-size: 13px;
    border-bottom: #f1efef solid 1px;
    display: block;
    margin: 0px;
    padding: 6px 0px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}

form#bookings-dropdown .submit_button:hover{
    background: #666666;
    color:white;
    border-radius:5px;
    text-align: center;
}